#### README ########################################
# Copy this file and remove the `.template` to apply additional values that won't be pushed to the repository.
####################################################

components:
  k8s-longhorn:
    version: latest
    helmRepositoryNamespace: k8s
    deployNamespace: longhorn-system